<h1>SIGN UP</h1>

<form action="<%= users_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Username: 
        <input type="text" name="user[username]">
    </label>

    <label>Password: 
        <input type="password" name="user[password]">
    </label>

    <label>Ripeness Preference: 
        <input type="text" name="user[ripeness_preference]">
    </label>

    <input type="submit" value="Sign Up">
</form>